* {
    padding: 0;
    margin: 0 auto;
    box-sizing:border-box;
    color: 	#ffcb0c;
    font-family: 'Righteous', sans-serif;
}

ul{
    list-style: none;
    font-size: 30px; 
}

a{
    text-decoration: none;
}

body{
    background: url(./img/pexels-alex-andrews-5086477.jpg) no-repeat center center fixed;  
    background-size: cover;
}

header{
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 15px;
    margin-bottom: 45px;
}

header ul{
    display: flex;
}

header li{
    padding: 10px;
}

header ul li a{
    transition: 300ms;
}

header ul li a:hover{
    color: #c2c5cc;
    text-decoration: underline;

}

.container{
    text-align: center;
}

.container .name h1{
    font-size: 60px;
}

.container .name h5{
    font-size: 30px;
}

#arrow{
width: 35px;
margin-left: auto;
margin-right: auto;
align-items: center;
font-size: 35px;
cursor: pointer;
animation:  1s steps(5, start) infinite;
}

@keyframes blink {
    to{
        visibility: hidden;
    }
}

#animation{
    transition: 300ms;
}

.rotate{
    transform: rotate(180deg);
    transition: 300ms;
}

.active{
    display: block !important; 
}

#about p{
    font-size: 20px;
    max-width: 650px;
    margin: 0 auto;
}

.form{
    width: 40%;
    margin: 0 auto;
    margin-top: 30px;
}

.form input{
    width: 50%;
    background-color: black;
    opacity: 0.7;
    padding: 5px 10px; 
    border:none;
}

input::placeholder{
    color: #ffcb0c;
}

button{
    background-color: black;
    opacity: 0.7;
    transition: 300ms;
}

.form button{
    width: 15%;
    padding: 5px 10px;
    cursor: pointer;
    border:#c2c5cc;
    margin-left: -2px;
}

.form button:hover{
    color:#c2c5cc;
    border-style:solid;
}
footer{
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    font-size: 10px;
}

@media only screen and (max-width: 768px) {
    .form{
        width: 100%;
    }
}

@media only screen and (max-width: 540px) {
    .container .name h1{
        font-size: 30px;
    }
    
    .container .name h5{
        font-size: 15px;
    }

    #about p{
        max-width: 90%;
        text-align: center;
    }

    img{
        max-width: 90%;
    }

    li{
        font-size: 15px;
        margin: 0 auto;
    }

    #arrow{
        font-size: 20px;
    }
}
